<div>
  <p>
    datos works!

  </p>
  <app-provincia></app-provincia>

  <div class="container">
    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayout.sm="column"
         fxFlex class="contentResp">
      <div class="blocks" fxFlex> ...</div>
      <div class="blocks" fxFlex> ...</div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">.col-12 .col-md-8</div>
      <div class="col-6 col-md-4">.col-6 .col-md-4</div>
    </div>

    <div class="row">
      <div class="col-6 col-md-4">.col-6 .col-md-4</div>
      <div class="col-6 col-md-4">.col-6 .col-md-4</div>
      <div class="col-6 col-md-4">.col-6 .col-md-4</div>
    </div>

    <div class="row">
      <div class="col-6">.col-6</div>
      <div class="col-6">.col-6</div>
    </div>

    <div class="row">
      <div class="col-md-4">.col-md-4</div>
      <div class="col-md-4 offset-md-4">.col-md-4 .offset-md-4</div>
    </div>
  </div>

</div>
