<div class="header center-flex placeholder-title">

  CABECERA

</div>

<div id="menu">
  <button mat-button [matMenuTriggerFor]="centros">Centros</button>
  <button mat-button [matMenuTriggerFor]="alumnos">Alumnos</button>
  <button mat-button [routerLink]="['/datos']">Datos</button>

  <button mat-button [routerLink]="['/listadecentros']">Lista de centro</button>

  <button mat-button (click)="logout()">Logout</button>
  <mat-menu #centros="matMenu">
    <button mat-menu-item [routerLink]="['/listado-centros']">Listado</button>
    <button mat-menu-item [routerLink]="['/centro']">Alta</button>
  </mat-menu>
  <mat-menu #alumnos="matMenu">
    <button mat-menu-item [routerLink]="['/alumno', '']">Listado</button>
    <button mat-menu-item [routerLink]="['/alumno', 'alumnos']">Alta</button>
  </mat-menu>


</div>

<router-outlet class="content"></router-outlet>

<div class="footer center-flex placeholder-title">

  PIE

</div>
