centro works!

<form>

  <input [formGroup]="form" [formControl]="form.controls['name']">

  <input [formGroup]="form" [formControl]="form.controls['date']">
  <input [formGroup]="form" [formControl]="form.controls['date1']">
  <input [formGroup]="form" [formControl]="form.controls['date2']">
  <input [formGroup]="form" [formControl]="form.controls['date3']">
  <input [formGroup]="form" [formControl]="form.controls['date4']">
  <input [formGroup]="form" [formControl]="form.controls['date5']">
  <input [formGroup]="form" [formControl]="form.controls['date6']">
  <input [formGroup]="form" [formControl]="form.controls['date7']">
  <input [formGroup]="form" [formControl]="form.controls['date8']">
  <input [formGroup]="form" [formControl]="form.controls['date9']">
  <input [formGroup]="form" [formControl]="form.controls['date10']">
  <input [formGroup]="form" [formControl]="form.controls['date11']">
  <input [formGroup]="form" [formControl]="form.controls['date12']">
  <input [formGroup]="form" [formControl]="form.controls['date13']">
  <input [formGroup]="form" [formControl]="form.controls['date14']">
  <input [formGroup]="form" [formControl]="form.controls['date15']">
  <input [formGroup]="form" [formControl]="form.controls['date16']">
  <input [formGroup]="form" [formControl]="form.controls['date17']">
  <input [formGroup]="form" [formControl]="form.controls['date18']">
  <input [formGroup]="form" [formControl]="form.controls['date19']">
  <input [formGroup]="form" [formControl]="form.controls['date20']">

  <button (click)="enviar()">Enviar</button>

</form>



